* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button {
  outline: none;
  border: none;
  background: transparent; }

@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: local("Tangerine"), url(./font/tangerine.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(./font/MaterialIcons-Regular.woff2) format("woff2"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

@keyframes phonetic-symbol-moving {
  0% {
    background-position: 1248px 0; }
  100% {
    background-position: -0 0; } }
.text {
  font-size: 16px;
  vertical-align: middle;
  color: #ffffff; }

.btn {
  cursor: pointer;
  vertical-align: middle;
  color: #ffffff; }

.appbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  line-height: 64px;
  padding: 0 20px;
  color: #ffffff;
  background: #2196F3;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4); }
  .appbar .appbar-group {
    display: inline-block;
    height: 100%; }

.login-pane {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff; }
  .login-pane > .content-area {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: auto; }
    .login-pane > .content-area .user-avatar {
      line-height: 50px;
      text-align: center; }
      .login-pane > .content-area .user-avatar .img {
        width: 50px;
        height: 50px;
        cursor: pointer; }
    .login-pane > .content-area .title {
      display: block;
      width: 100%;
      line-height: 50px;
      font-size: 16px;
      margin: 0 auto 20px;
      font-size: 20px;
      color: #000000;
      text-align: center;
      border-bottom: 1px solid #eef1f0; }
    .login-pane > .content-area .error-info {
      display: block;
      width: 100%;
      padding: 0 40px;
      line-height: 20px;
      margin: auto auto 20px;
      text-align: center;
      color: #ff0000;
      font-size: 14px; }
    .login-pane > .content-area .form {
      display: block;
      width: 100%;
      padding: 0 40px;
      margin: 0 auto 40px;
      overflow: hidden; }
      .login-pane > .content-area .form .field {
        position: relative;
        display: block;
        width: 100%;
        line-height: 14px;
        font-size: 14px;
        margin-bottom: 20px; }
        .login-pane > .content-area .form .field .label {
          position: relative;
          display: inline-block;
          padding: 1em 0 1em 1em;
          z-index: 2;
          color: #333;
          background: #eef1f0; }
        .login-pane > .content-area .form .field .input {
          z-index: 1;
          height: 100%;
          outline: none;
          border: none;
          font-size: 14px;
          background: #eef1f0;
          padding: 1em;
          position: absolute;
          top: 0;
          left: 0; }
      .login-pane > .content-area .form .field.username .label,
      .login-pane > .content-area .form .field.password .label {
        height: 100%;
        background: #eef1f0; }
      .login-pane > .content-area .form .field.username .input,
      .login-pane > .content-area .form .field.password .input {
        width: 100%;
        padding-right: 4em; }
      .login-pane > .content-area .form .field.username .icon,
      .login-pane > .content-area .form .field.password .icon {
        z-index: 3;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1em;
        margin: auto;
        width: 18px;
        height: 18px;
        font-size: 20px;
        color: #9E9D9D; }
      .login-pane > .content-area .form .field.username .input {
        padding-left: 7em; }
      .login-pane > .content-area .form .field.password .input {
        padding-left: 4em; }
      .login-pane > .content-area .form .field.captcha .input {
        width: 50%;
        padding-left: 5em; }
      .login-pane > .content-area .form .field.captcha .img {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
        cursor: pointer; }
      .login-pane > .content-area .form .login-btn {
        display: block;
        width: 100%;
        height: 40px;
        margin-top: 30px;
        background: #2196F3; }

.login-dialog {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 330px;
  outline: none;
  box-shadow: 0 0 4px 0 #9C9898; }

.login-intro-pane {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #33b1f8 37%, #6e90f6 100%); }
  .login-intro-pane .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./image/bg_notes.svg);
    background-repeat: repeat;
    animation: phonetic-symbol-moving 5s linear infinite; }
  .login-intro-pane .content-area {
    position: relative;
    width: 300px;
    height: 100%;
    padding-top: 60px;
    margin: auto;
    background: transparent; }
    .login-intro-pane .content-area .title {
      display: block;
      margin: 0 auto 30px;
      width: 100%;
      font-size: 20px;
      color: #ffffff; }
    .login-intro-pane .content-area .logo {
      display: block;
      font-family: 'Tangerine', serif;
      font-size: 48px;
      color: #ffffff;
      margin-bottom: 20px; }
    .login-intro-pane .content-area .intro {
      display: block;
      height: 122px;
      font-size: 14px;
      color: #ffffff;
      line-height: 1.5;
      overflow: hidden; }
    .login-intro-pane .content-area .register-btn {
      position: absolute;
      bottom: 70px;
      display: block;
      width: 100%;
      height: 40px;
      margin-top: 40px;
      background: #ffffff; }
      .login-intro-pane .content-area .register-btn .text {
        color: #2196F3; }

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; }
  .login-page .login-dialog {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 450px;
    background: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.6); }
    .login-page .login-dialog .intro-area,
    .login-page .login-dialog .login-area {
      width: 50%;
      height: 100%; }

.drawer-layout {
  width: 0;
  height: 100%; }
  .drawer-layout > .content-area {
    position: absolute;
    width: 100%; }
  .drawer-layout .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); }
    .drawer-layout .mask.enter {
      opacity: 0;
      transition: opacity 0.2s ease-out; }
      .drawer-layout .mask.enter.enter-active {
        opacity: 1; }
    .drawer-layout .mask.leave {
      opacity: 1;
      transition: opacity 0.2s ease-out; }
      .drawer-layout .mask.leave.enter-active {
        opacity: 0; }
  .drawer-layout .nav {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff;
    box-shadow: 1px 0 6px 0 rgba(0, 0, 0, 0.4); }
    .drawer-layout .nav.enter {
      transform: translateX(-100%);
      transition: transform 0.2s ease-out; }
      .drawer-layout .nav.enter.enter-active {
        transform: translateX(0); }
    .drawer-layout .nav.leave {
      transform: translateX(0);
      transition: transform 0.2s ease-out; }
      .drawer-layout .nav.leave.leave-active {
        transform: translateX(-100%); }

html,
body {
  width: 100%;
  height: 100%;
  font-family: STHeiTi,simsun,sans-serif; }

.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  *zoom: 1; }
.clearfix:after {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.hide {
  display: none !important; }

.mr15 {
  margin-right: 15px; }

.app {
  position: relative;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
