.loading-page {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	background: #fff;

	.prompt {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color: #000;
    	font-size: 20px;
	}
}