.login-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;

	.login-dialog {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 800px;
		height: 450px;
		background: #ffffff;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 0 0 4px 0px rgba(0, 0, 0, .6);

		.intro-area,
		.login-area {
			width: 50%;
			height: 100%;
		}
	}
}